{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="weekDayHeader mon col-md-2 col-md-offset-1">
      <h1>Event Name</h1>
    </div>
    <div class="weekDayHeader tues col-md-2">
      <h1>Date</h1>
    </div>
    <div class="weekDayHeader wed col-md-2">
      <h1>Time Start</h1>
    </div>
    <div class="weekDayHeader thurs col-md-2">
      <h1>Time End</h1>
    </div>
    <div class="weekDayHeader fri col-md-2">
      <h1>Location</h1>
    </div>
  </div>
</div>

{% endblock %}
