
    <div class="container">
      <div class="row">
        <div class="col-sm-7">
          <div class="cal1"></div>
        </div>
        <div class="col-sm-5">
          <div class="day_events col-sm-12"></div>
            <!-- <div id="show_event" class="event_details"></div><br>
            <div id="description" class="event_details"></div>
            <span id="time_start" class="event_details"></span>
            <span> - </span>
            <span id="time_end" class="event_details"></span>
            <div id="month" class="event_details"></div>
            <div id="date" class="event_details"></div>
            <div id="year" class="event_details"></div>
            <div id="location_name" class="event_details"></div>
            <div id="street" class="event_details"></div>
            <div id="city" class="event_details" ></div> -->
        </div>
      </div>
    </div>

<!-- {% block scripts %}
  <script type="text/javascript" src="/js/display.js"></script>
  <script type="text/javascript" src="/js/clndr.js"></script>
{% endblock %} -->
