{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}

    <div class="container">
      <div class="row">
        <div class="col-sm-7">
          <div class="cal1"></div>
        </div>
        <div class="col-sm-5">
          <div class="day_events col-sm-12"></div>
            <div id="show_event"></div><br>
            <div id="description"></div>
            <span id="time_start"></span>
            <span> - </span>
            <span id="time_end"></span>
            <div id="month"></div>
            <div id="date"></div>
            <div id="year"></div>
            <div id="location_name"></div>
            <div id="street"></div>
            <div id="city"></div>
        </div>
      </div>
    </div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="/js/display.js"></script>
  <script type="text/javascript" src="/js/clndr.js"></script>
{% endblock %}
