body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.day_event {
  padding-top: 65px;
  font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: blue;
}

.event-container{
  height: 58px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
  padding-left: 2px;
  font: 9px "Lucida Grande", Helvetica, Arial, sans-serif;
  border-color: white;
}

.event-box > div {
  height: 10px;
  padding: 2px;
  font: 7px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.event_label {
  height: 10px;
  padding: 12px;
  font: 7px "Lucida Grande", Helvetica, Arial, sans-serif;
}
