body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.day_event {
  padding-top: 65px;
  font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: blue;
}
