{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block css %}
  <link rel="stylesheet" href="/css/admin.css">
{% endblock %}

{% block content %}

  <div class="container">
    <div class="admin_menu">
      <a href="\" class="admin_link">Event Management</a>
    </div>
    <div class="page_title">Event Type Maintenance</div>
    <div class="col-md-12">
      <form>
        <label for="event_type_name">Type</label>
        <input id="event_type_name" type="text" name="event_type_name"><br>
        <label for="event_type_description">Description</label>
        <input type="text" name="event_type_description" id="event_type_description"></br>
        <input type="button" value="Save" id="add_event_type_func">
      </form>
    </div>
    <div class="row">
      <div class="headers">
        <div class="col-md-2">
          <div class="table_header">Event Name</div>
        </div>
        <div class="col-md-5">
          <div class="table_header">Description</div>
        </div>
      </div>
    </div>
    {% for types in event_types %}
    <div class="row">
      <div class="col-sm-2">
        <div class="results"><a href="/events/update/{{types.id}}">{{types.event_type}}</a>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="results">{{types.event_type_description}}</div>
      </div>
      <div class="col-sm-1 results">
        <a href="/event_types/delete/{{types.id}}"  id="delete_event">Delete</a>
      <input type="hidden" data-id="{{types.id}}" name="event_type_id" id="event_type_id">
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
